<footer class="footer">
  <div class="footer__container">
    <h2 class="footer__heading">
      Lorem ipsum dolor sit amet consectetur adipisicing elit.
    </h2>

    <ul class="footer__social-media">
      <li class="footer__list-item">
        <a class="footer__link" href="" target="blank">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="footer__list-item">
        <a class="footer__link" href="" target="blank">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="footer__list-item">
        <a class="footer__link" href="" target="blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </li>
      <li class="footer__list-item">
        <a class="footer__link" href="" target="blank">
          <i class="fab fa-youtube"></i>
        </a>
      </li>
      <li class="footer__list-item">
        <a class="footer__link" href="" target="blank">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </div>
  <p class="footer__copy-right">
    {{ year }} -- Shady's reusable components
  </p>
</footer>
