<div class="credit-card">
  <div class="credit-card__group">
    <ng-container [ngSwitch]="creditCardNumber[0]">
      <i *ngSwitchCase="'3'" class="credit-card__icon fab fa-cc-amex"></i>
      <i *ngSwitchCase="'4'" class="credit-card__icon fab fa-cc-visa"></i>
      <i *ngSwitchCase="'5'" class="credit-card__icon fab fa-cc-mastercard"></i>
      <i *ngSwitchCase="'6'" class="credit-card__icon fab fa-cc-discover"></i>
      <i *ngSwitchDefault class="credit-card__icon  fas fa-credit-card"> </i>
    </ng-container>
    <input class="credit-card__input" type="text" [(ngModel)]="creditCardNumber" required maxlength="16"
      [readonly]="isReadOnly">
  </div>
</div>
