.credit-card {
  display: grid;
  grid-gap: 10px;

  &__group {
    position: relative;
  }

  &__input {
    padding: 10px;
    padding-left: 2.5em;

  }
  &__icon {
    position: absolute;
    top:50%;
    left: 1em;
    transform: translate(-50%, -50%);
  }
}

