<card [iconClasses]="'fas fa-info-circle'" [title]="'[title]'" [subTitle]="'[subTitle]'">
  <div body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, hic. Quae quaerat delectus pariatur odit, placeat
    dolores dolorum praesentium nihil at dicta nulla recusandae qui explicabo quidem iure deserunt quo!
  </div>
  <div footer>
    [footer]
  </div>
</card>


<card [iconClasses]="'fas fa-info-circle'" [title]="'Accordion'" [subTitle]="'reusable component'">
  <div body>
    <accordion [items]="accordionItems"></accordion>
  </div>
</card>

<!-- progress bar -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Progress bar'" [subTitle]="'reusable component'">
  <div body>
    <progress-bar [value]=progressbarValue></progress-bar>
  </div>
  <div footer>
    <button (click)="progressbarValue = 75">update</button>
  </div>
</card>

<!-- star rating -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Star rating'" [subTitle]="'reusable component'">
  <div body>
    <star-rating [rating]="3.000000001" [max]="5"></star-rating>
  </div>
</card>

<!-- credit card input-->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Credit Card input'" [subTitle]="'reusable component'">
  <div body>
    <credit-card-input [creditCardNumber]="1111222233334444" [isReadOnly]=false></credit-card-input>
    <br>
    <credit-card-input [creditCardNumber]="1111222233334444" [isReadOnly]=true></credit-card-input>

  </div>
</card>

<!-- top of page -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'top of page'" [subTitle]="'reusable component'">
  <div body>
<top-of-page></top-of-page>
    <p>Scroll down to display "top of page" button</p>
  </div>
</card>

<!-- loader -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Loader'" [subTitle]="'reusable component'">
  <div body>
    <loader [isLoading]="false" [loaderType]="loaderType"></loader>
    <p>to activate change Input value "<i>isLoading</i>" to true</p>
  </div>
</card>

<!-- Twitter post -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Twitter post'" [subTitle]="'reusable component'">
  <div body>
    <twitter-post></twitter-post>
  </div>
</card>

<!-- Linkedin post -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Linkedin post'" [subTitle]="'reusable component'">
  <div body>
    <linkedin-post></linkedin-post>
  </div>
</card>

<!-- Ribbon -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Ribbon'" [subTitle]="'reusable component'">
  <div body>
    <ribbon
      [content]="'current draft'"
      [location]="ribbonStyle.location"
      [type]="ribbonStyle.type">
    </ribbon>
  </div>

  <div footer>
    <button (click)="ribbonStyle.type = RibbonType.Info">Info</button>
    <button (click)="ribbonStyle.type = RibbonType.Success">Success</button>
    <button (click)="ribbonStyle.type = RibbonType.warning">Warning</button>
    <button (click)="ribbonStyle.type = RibbonType.Error">Error</button>
    <br>
    <button (click)="ribbonStyle.location = RibbonLocation.TopLeft">top left</button>
    <button (click)="ribbonStyle.location = RibbonLocation.TopRight">top right</button>
    <button (click)="ribbonStyle.location = RibbonLocation.BottomLeft">bottom left</button>
    <button (click)="ribbonStyle.location = RibbonLocation.BottomRight">bottom right</button>
  </div>
</card>

<!-- Simple Table  -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Simple Table'" [subTitle]="'reusable component'">
  <div body>
    <simple-table></simple-table>
  </div>
</card>

<!-- Paging  -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Paging'" [subTitle]="'reusable component'">
  <div body>
    <paging [totalItems]="200"></paging>
  </div>
</card>

<!-- Modal -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Modal'" [subTitle]="'reusable component'">
  <div body>
    <modal [title]="'Modal Example'" #modal>
      <p>Some Content</p>
    </modal>
  </div>

  <div footer>
    <button (click)="modal.open()">Call Modal</button>
  </div>
</card>

<!-- snackbar -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Snackbar'" [subTitle]="'reusable component'">
  <div body>
    <snackbar [message]="'Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe assumenda id voluptatibus, aspernatur laboriosam odio cupiditate repudiandae numquam officiis aliquid inventore harum minima aperiam alias, explicabo perferendis cumque eius. Iusto!'" #snackbar>
    </snackbar>
  </div>

  <div footer>
    <button (click)="showSnackbar()">show snackbar</button>
  </div>
</card>


