<card [iconClasses]="'fas fa-info-circle'" [title]="'[title]'" [subTitle]="'[subTitle]'">
  <div body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, hic. Quae quaerat delectus pariatur odit, placeat
    dolores dolorum praesentium nihil at dicta nulla recusandae qui explicabo quidem iure deserunt quo!
  </div>
  <div footer>
    [footer]
  </div>
</card>


<card [iconClasses]="'fas fa-info-circle'" [title]="'Accordion'" [subTitle]="'reusable component'">
  <div body>
    <accordion [items]="accordionItems"></accordion>
  </div>
</card>

<!-- progress bar -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Progress bar'" [subTitle]="'reusable component'">
  <div body>
    <progress-bar [value]=progressbarValue></progress-bar>
  </div>
  <div footer>
    <button (click)="progressbarValue = 75">update</button>
  </div>
</card>

<!-- star rating -->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Star rating'" [subTitle]="'reusable component'">
  <div body>
    <star-rating [rating]="3.000000001" [max]="5"></star-rating>
  </div>
</card>

<!-- credit card input-->
<card [iconClasses]="'fas fa-info-circle'" [title]="'Credit Card input'" [subTitle]="'reusable component'">
  <div body>
    <credit-card-input [creditCardNumber]="1111222233334444" [isReadOnly]=false></credit-card-input>
    <br>
    <credit-card-input [creditCardNumber]="1111222233334444" [isReadOnly]=true></credit-card-input>

  </div>
</card>


<!-- top of page -->
<top-of-page></top-of-page>
