<app-card [iconClasses]="'fas fa-info-circle'" [title]="'[title]'" [subTitle]="'[subTitle]'">
  <div body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, hic. Quae quaerat delectus pariatur odit, placeat dolores dolorum praesentium nihil at dicta nulla recusandae qui explicabo quidem iure deserunt quo!
  </div>
  <div footer>
    [footer]
  </div>
</app-card>


<app-card [iconClasses]="'fas fa-info-circle'" [title]="'Accordion'" [subTitle]="'reusable component'">
  <div body>
    <app-accordion [items]="accordionItems"></app-accordion>
  </div>
</app-card>
